/* Forgetpassword.css */

/* Center the container */
.fg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
  width: fit-content;
  margin-left: 450px;
  background-color: rgba(219, 186, 186, 0.3); /* Semi-transparent background */
}

.blur-container {
  margin-right: 20%;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff; /* White background */
  box-shadow: 0 0 20px rgba(189, 189, 189, 0.5); /* Box shadow for blur effect */
}

.blur-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000; /* Black text color */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  border: 1px solid #000; /* Black border */
  border-radius: 5px;
  color: #000; /* Black text color */
}
.tit{
  margin-top: 0;
  color: #000;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 10px;
  color: #007bff;
}
